<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PORTFOLIO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/portfolio/styles/styles.css">

</head>

<body>

    <nav>
        <label class="nav-brand">
            <img src="/portfolio/assets/navbrand.jpg" alt="" class="logo">
            PALAK</label>
        <ul>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SKILLS</a></li>
            <li><a href="#">PROJECTS</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
<section class="section-one">
    <div class="about"> </div>
</section>
<br>

<section class="section-two">
    <div class="skills-container">
      <div class="card">
          <img src="https://i.pinimg.com/474x/b1/f7/e5/b1f7e5be4de433cf45a3d14188af6838.jpg" alt="" class="image-card">
          <h3 class="heading-card">CARD-1</h3>
          <p>THIS IS CARD-1</p>
      </div>
 
      <div class="card">
        <img src="https://i.pinimg.com/474x/b1/f7/e5/b1f7e5be4de433cf45a3d14188af6838.jpg " alt="" class="image-card">
        <h3 class="heading-card">CARD-2</h3>
        <p>THIS IS CARD-2</p>
    </div>
    <div class="card">
        <img src="https://i.pinimg.com/474x/b1/f7/e5/b1f7e5be4de433cf45a3d14188af6838.jpg" alt="" class="image-card">
        <h3 class="heading-card">CARD-3</h3>
        <p>THIS IS CARD-3</p>
    </div>
    </div>
</section>

<section class="section-three">
    <div class="projects">
        <div class="project-card">
            <h3 class="heading-card">CARD-1</h3>
            <p>THIS IS CARD-1</p>
            <button>PROJECT</button>
        </div>

        <div class="project-card">
            <h3 class="heading-card">CARD-2</h3>
            <p>THIS IS CARD-2</p>
            <button>PROJECT</button>
        </div>

        <div class="project-card">
            <h3 class="heading-card">CARD-3</h3>
            <p>THIS IS CARD-3</p>
            <button>PROJECT</button>
        </div>

        <div class="project-card">
            <h3 class="heading-card">CARD-4</h3>
            <p>THIS IS CARD-4</p>
            <button>PROJECT</button>
        </div>

        <div class="project-card">
            <h3 class="heading-card">CARD-5</h3>
            <p>THIS IS CARD-5</p>
            <button>PROJECT</button>
        </div>

    </div>
</section>


<section class="footer">
    <div class="footer-container">
        <img src="/portfolio/assets/linkedin-logo.png" alt="" class="icon">
        <p style="color:white;">All rights reserved
        <br>
        <br>
        Copyright @PALAK</p>
        <img src="/portfolio/assets/github-logo.png" alt="" class="icon">
    </div>
</section>

    <script src="" async defer></script>
</body>

</html>

<!-- media query and routing in html-->
<!--adding heading and contents-->
<!-- finishing by adjusting margins padding, revision of code-->
<!-- git commits-->