<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PORTFOLIO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/portfolio/styles/styles.css">

</head>

<body>

    <nav>
        <label class="nav-brand">PALAK</label>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    
<div class="cards">
    <div class="card-1">
        <div class="image">
           
        </div>
        <div class="title">
<h3>card1</h3>
        </div>
        <div class="description">
<p>this is card1</p>
        </div>
    </div>

    <div class="card-2">
        <div class="image">

        </div>
        <div class="title">
<h3>card2</h3>
        </div>
        <div class="description">
            <p>this is card-2</p>
        </div>
    </div>

    <div class="card-3">
        <div class="image">

        </div>
        <div class="title">
<h3>card-3</h3>
        </div>
        <div class="description">
            <p>this is card-3</p>
        </div>
    </div>
</div>

  
















    <script src="" async defer></script>
</body>

</html>