<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PORTFOLIO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/portfolio/styles/styles.css">

</head>

<body>

    <nav>
        <label class="nav-brand">
            <img src="/portfolio/assets/navbrand.jpg" alt="" class="logo">
            PALAK</label>
        <ul>
            <li><a href="#section-1">ABOUT</a></li>
            <li><a href="#section-2">SKILLS</a></li>
            <li><a href="#section-3">PROJECTS</a></li>
            <li><a href="#footer-section">CONTACT</a></li>
        </ul>
    </nav>
<section class="section-one" id="section-1">
    <div class="about"> </div>
</section>
<br>

<h2 id="section-2">SKILLS</h2>
<section class="section-two" >
    <div class="skills-container">
      <div class="card">
          <img src="/portfolio/assets/springboot-logo.png" alt="" class="image-card">
      </div>
 
      <div class="card">
        <img src="/portfolio/assets/angular-logo.jfif" alt="" class="image-card">
    </div>
    <div class="card">
        <img src="/portfolio/assets/java.jpg" alt="" class="image-card">
    </div>
    </div>
</section>

<h2 id="section-3">PROJECTS</h2>
<section class="section-three">
    <div class="projects">
        
        <div class="project-card">
            <h3 class="heading-card">CARD-1</h3>
            <p>THIS IS CARD-1</p>
            <button>PROJECT</button>
        </div>

        <div class="project-card">
            <h3 class="heading-card">CARD-2</h3>
            <p>THIS IS CARD-2</p>
            <button>PROJECT</button>
        </div>

        <div class="project-card">
            <h3 class="heading-card">CARD-3</h3>
            <p>THIS IS CARD-3</p>
            <button>PROJECT</button>
        </div>

        <div class="project-card">
            <h3 class="heading-card">CARD-4</h3>
            <p>THIS IS CARD-4</p>
            <button>PROJECT</button>
        </div>

        <div class="project-card">
            <h3 class="heading-card">CARD-5</h3>
            <p>THIS IS CARD-5</p>
            <button>PROJECT</button>
        </div>

    </div>
</section>


<section class="footer" id="footer-section">
    <div class="footer-container">
        
        <a href="https://www.linkedin.com/in/palak-goel-5a76941bb/"><img src="/portfolio/assets/linkedin-logo.png" alt="" class="icon"></a>
       <a href="https://www.hackerrank.com/goelpalak003"><img src="/portfolio/assets/hacker.png" alt="" class="icon"></a>
        <img src="/portfolio/assets/github-logo.png" alt="" class="icon">
        <p style="color:white;">All rights reserved
            <br>
            <br>
            Copyright @PALAK</p>
    </div>
</section>

    <script src="" async defer></script>
</body>

</html>

<!-- media query-->
<!--adding heading and contents-->
<!-- finishing by adjusting margins padding, revision of code-->
