@import url('reset.css');

body{
    font-family:cursive;
}
label{
    text-shadow: 4px 4px 10px blue;
    font-size:50px;
    padding-left:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.logo{
    width:50px;
    height:50px;
   margin-top:20px;
}
.logo:hover{
    box-shadow:3px 3px blue;
}

nav{
    background-color:aqua;
    height:80px; 
}
nav ul{
    float:right;
    padding-right:30px;
    
}
nav ul li{
    display:inline-block;
    margin:30px 12px;
}
nav ul li a{
    color:green;
font-family:'Times New Roman', Times, serif;
font-size:25px;
}
nav ul li a:hover{
    text-shadow: 2px 2px 5px green;
}

.section-one{
    background: url(/portfolio/assets/section-1-bg.jpg)no-repeat center center;
    height:100vh;
    background-size:cover;
}

.about{
    margin-top:30px;
    width:1300px;
    height: 500px;
    background-color:grey;
    position: relative;
    animation-name: example;
    animation-duration: 4s;

    
  }
  
  @keyframes example {
    0%   {background-color:darkcyan; left:0px; width:100%;}
    25%{background-color:grey; left:200px; }
    75% {background-color:darkcyan; left:0px;width:100%;}
   }

  .skills-container{
      display:flex;
      flex-direction:row;
      justify-content:space-around;
  }
  .section-two{
      background-image:linear-gradient(darkcyan,grey);
      background-size:cover;
  }

  .image-card{
      width:470px;
      height:400px;
      transition:transform;
      transition-duration:3s;
  }
  .image-card:hover{
      transform:rotateY(180deg);
  }
  
  .project-card{
      margin:0 auto;
      padding:50px;
      
  }
  .project-card:hover{
      box-shadow:4px 4px black;
  }

  #section-3{
      text-align:center;
      font-size:40px;
  }

  .section-three{
      background-image:linear-gradient(aqua,grey);
      background-size:cover;
  }
  
  .projects{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      padding:200px;
      margin:20px;
  }

  .footer{
      background-color:black;
      padding:50px;

  }

  .footer-container{
      display:flex;
      flex-direction:row;
      justify-content:space-around;
  }

  .icon{
      height:60px;
      width:60px;
      transition:transform;
      transition-duration:0.2s;
  }
  .icon:hover{
transform:rotatey(45deg);
  }

