@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Kaushan+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body{
    font-family:cursive;
}
label{
    text-shadow: 4px 4px 10px blue;
    font-size:50px;
    padding-left:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.logo{
    width:50px;
    height:50px;
   margin-top:20px;
}
.logo:hover{
    box-shadow:3px 3px blue;
}

nav{
    background-color:aqua;
    height:80px; 
}
nav ul{
    float:right;
    padding-right:30px;
    
}
nav ul li{
    display:inline-block;
    margin:30px 12px;
}
nav ul li a{
    color:darkgreen;
font-family:'Times New Roman', Times, serif;
font-size:25px;
text-decoration: none;
}
nav ul li a:hover{
    text-shadow: 2px 2px 5px green;
    
}
@media(max-width:768px)
{
    nav{
        text-align: center;
        height:120px;
    }
   
    
    
    nav ul {
display:flex;
flex-direction:column;

    }
    nav ul li {
        margin: 0.050em 0;
      }

}

.section-one{
    background: url("https://img2.goodfon.com/wallpaper/big/1/ef/abstrakciya-linii-goluboy-273.jpg")no-repeat center center;
    height:100vh;
    background-size:cover;
}

.about{
   
    width:1300px;
    height: 500px;
    background-color:grey;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    

    
  }
  
  @keyframes example {
    0%   {background-color:darkcyan; left:0px; width:100%;}
    25%{background-color:grey; left:200px; }
    75% {background-color:darkcyan; left:0px;width:100%;}
   }
   @media(max-width:768px)
   {
       .about{
           width:100%;
           height:100vh;
       }
       
   }

   .about-heading{
       
       font-size:100px;
       text-align: center;
       font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
   .about-body{
text-align:start;
font-size:40px;
margin-top:60px;
font-family: 'Ephesis', cursive;
   }

  .skills-container{
      display:flex;
      flex-direction:row;
      justify-content:space-around;
      
  }
  
  @media(max-width:768px)
  {
      .skills-container{
          display:flex;
          flex-direction:column;
          align-items:center;
      }
      #section-2{
          margin:0 -0.5em;
      }
     
  }
  .section-two{
      background-image:linear-gradient(darkcyan,grey);
      background-size:cover;
  }

  .image-card{
      width:470px;
      height:400px;
      transition:transform;
      transition-duration:3s;
  }
  .image-card:hover{
      transform:rotateY(180deg);
  }
  
  .project-card{
      margin:0 auto;
      padding:50px;
    
     
      
  }
  
 #section-2{
    text-align:center;
    font-size:150px;
    padding:120px;
    text-shadow: 3px 3px white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
  #section-3{
      text-align:center;
      font-size:150px;
      padding:140px;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-shadow: 3px 3px white;
  }

  .section-three{
      background-image:linear-gradient(grey,aqua);
      background-size:cover;
  }
  
  .projects{
      display:flex;
      flex-direction:row;
      justify-content:space-evenly;
      padding:50px;
     
  }
 
  .image-project-card{
      width:600px;
      height:500px;
      transition:transform 1s;
  }
  .image-project-card:hover{
      transform:scale(1.2);
  }
  @media(max-width:768px)
  {
      .projects{
          display:flex;
          flex-direction:column;
          
         
      }
      .image-project-card{
       width:400px;
       height:350px;
      
        
      }
      .project-card{
        margin:0 -3em;
      }
      #section-3{
          margin:0 -3em;
          font-size:115px;
      }

  }

  .footer{
      background-color:black;
      padding:50px;

  }

  .footer-container{
      display:flex;
      flex-direction:row;
      justify-content:space-around;
  }

  @media(max-width:768px)
  { .footer-container{
      display:flex;
      flex-direction: column;
    
      margin:0 10em;
  }
  }

  .icon{
      height:60px;
      width:60px;
      transition:transform;
      transition-duration:0.2s;
      margin-top:2em;
  }
  .icon:hover{
transform:rotateY(45deg);
box-shadow: 2px 3px white;
  }

